[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=xbmcontrol-evo
Exec=xbmcontrol-evo
Terminal=false
GenericName=XBMControl Evo
Categories=Database;AudioVideo;Player;Mixer;Midi;TV;
